<main id="main">

<div id="about" class="about-area area-padding">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <br>
        <h2 class="center">Show Offer</h2>
        <ul>
            <li>id: {{offer.id}}</li>
            <li>speciality: {{offer.speciality}}</li>
            <li>description: {{offer.description}}</li>
            <li>creationDate: {{offer.creationDate}}</li>
        </ul>
      </div>
      <a [routerLink]="['/admin/offer/list']" class="btn btn-primary">Back to List</a>
    </div>
  </div>
</main>
  