/* tweet box */
body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
  }
.tweetbox__input img {
    border-radius: 50%;
    height: 40px;
  }
  
  .tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
  }
  
  .tweetBox form {
    display: flex;
    flex-direction: column;
  }
  
  .tweetbox__input {
    display: flex;
    padding: 20px;
  }
  
  .tweetbox__input input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
  }
  
  .tweetBox__tweetButton {
    background-color:#50b7f5;
    border: none;

    color: white;
    font-weight: 900;
  
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
  }
 

  .voice-button {
    background-color: #50b7f5;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .voice-button:hover {
    background-color: #47a3d2;
  }


























