<br>
<br>
<br>
<br>
<div class="container mt-4 mb-7">
    
    <div class="d-flex justify-content-center row"> 
      
        <div class="col-md-9">
            <div class="feed p-2">
                
                <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border" style=" border-radius: 18px;">
                     

    <div class="form-group flex-grow-1 mr-1">
        <div class="tweetBox">
            <form (ngSubmit)="onSubmit()" >
              <div class="tweetbox__input">
                <img  src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="">
                <input type="text" id="text" [(ngModel)]="newPost.text" name="text" required placeholder="What's on your mind">
                

            </div>
              <button type="submit" class="tweetBox__tweetButton">Add</button>
            </form>
            <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
          </div>
        <div class="micro">
            <button class="voice-button" class="voice-button"(click)="startRecognition()">  <i class="fas fa-microphone"></i></button>    
               <marquee behavior="" direction="" style="font-family: 'Pacifico', cursive; font-size: 1rem; color: #4a4c4d;">  Partagez vos pensées en parlant : cliquez sur le bouton pour démarrer la reconnaissance vocale !</marquee>
        </div>
    </div> 


</div>

</div>
</div>

</div>

</div>
