  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <!-- <h1><a href="#"><span>e</span>Business</a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/post"><img src="/assets/front/img/esprit.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a *ngIf="user" [routerLink]="['/post']"class="nav-link scrollto" >Home</a></li>
          <li><a *ngIf="user && !admissionCandidacy" class="nav-link scrollto" href="/admissionCandidacy/add">Admission</a></li>
          <li><a *ngIf="user && admissionCandidacy" class="nav-link scrollto" href="/showAdmissionCandidacy/{{admissionCandidacy.id}}">Admission</a></li>
          <li><a *ngIf="user" class="nav-link scrollto" href="/offer/list">Recruitment</a></li>
          <li><a *ngIf="user && (user.jury || user.evaluator)" class="nav-link scrollto" href="/interview/list/{{user.id}}">Interviews</a></li>
          <li><a *ngIf="user" class="nav-link scrollto" href="/faq">FAQ</a></li>


          <li class="nav-item dropdown pe-3">
            
            <a *ngIf="user" class="nav-link nav-profile d-flex align-items-center pe-0" href="/post">
              <img [src]="'data:image/jpeg;base64,' + user.image" alt="Profile" class="rounded-circle" style="max-height: 36px;">
              <span class="d-none d-md-block dropdown-toggle ps-2">{{user.firstName}}</span>
            </a><!-- End Profile Iamge Icon -->
            <a *ngIf="!user" class="nav-link nav-profile d-flex align-items-center pe-0" href="#">
              <span class="d-none d-md-block dropdown-toggle ps-2">Sign in</span>
            </a><!-- End Profile Iamge Icon -->
            
  
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              
              <li *ngIf="user" class="dropdown-header">
                <h6 >{{user.firstName}} {{user.lastName}}</h6>
                <span>{{user.role.role}}</span>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li *ngIf="!user">
                <a class="dropdown-item d-flex align-items-center" href="/login">
                  <span >Log in</span>
                  <i class="bi bi-box-arrow-in-right"></i>
                </a>
              </li>

              <li *ngIf="user">
                <a class="dropdown-item d-flex align-items-center" href="/user/show/{{ user.id }}">
                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li *ngIf="user">
                <a class="dropdown-item d-flex align-items-center" href="/user/update/{{ user.id }}">
                  <i class="bi bi-gear"></i>
                  <span>Account Settings</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li *ngIf="!user">
                <a class="dropdown-item d-flex align-items-center" href="/user/add">
                  <span>SIGN UP</span>
                  <i class="bi bi-person-plus"></i>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
  
              <li *ngIf="user">
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)#" (click)="logout()">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Log Out</span>
                </a>
              </li>
  
            </ul><!-- End Profile Dropdown Items -->
            
          </li><!-- End Profile Nav -->
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->