<main id="main">
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <br>
                      
                        
                        <h2 style="text-align: center; color: #09baf0a9; font-size: 36px; font-family: Arial, sans-serif; border-bottom: 2px solid #000000; padding-bottom: 10px;">Our Question</h2>
                    </div>
                    <a *ngIf="role=='ADMIN'" href="/admin/addQuestion" class="btn btn-secondary">Add new Question</a><br> <br>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let question of quetionList" class="col-md-4 col-sm-4 col-xs-12">
                    <div class="services-details">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../assets/question.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{question.question}}</h5>
                                


                                <div class="button-group">
                                    <a *ngIf="role=='ADMIN'" [routerLink]="['/admin/showQuestion', question]" class="btn btn-outline-warning">Show</a>
                                    
                                   <button *ngIf="role=='ADMIN'"  class="btn btn-outline-warning" (click)="deleteQuestions(question.id)">Delete</button> 
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End About Section -->
</main><!-- End #main -->
