.mat-expansion-panel-header:not([aria-disabled=true]) {
    cursor: pointer;
}

.mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    border-radius: 10px;
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mat-expansion-panel-header {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.mat-expansion-panel-header {
    height: 48px;
}

.mat-focus-indicator {
    position: relative;
}

.mat-expansion-panel {
    background: white !important;
    color: #000000de !important;
    border-style: groove !important;
    border-color: coral;
}

a {
    cursor: pointer;
}

.up {
    margin-left: -1px
}

.container {
    margin-top: 200px;
    margin-bottom: 100px;
}

.faq-nav {
    flex-direction: column;
    margin: 0 0 32px;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}

.nav-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 16px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #616161;
    transition: background-color .2s ease;

}


.tab-content {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}

.card {
    border-radius: 0;
}

.card-header {
    padding: 15px 16px;
    border-radius: 0;
    background-color: #f6f6f6;
}

h5 {
    margin: 0;
}

button {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    font-weight: 700;
    color: rgba(0, 0, 0, .87);
    text-align: left;
    white-space: normal;

}

.up-down{
margin-left:30px
}

.subject{
    margin-left:30px;   
    font-size: 20px;
}

.bi-arrow-right-square{
    margin-right: 20px;
}


/* .accordion {
> .card {
    &:not(:first-child) {
        border-top: 0;
    }   
}
} */

/* .collapse.show {
.card-body {
    border-bottom: 1px solid rgba(0,0,0,.125);
}
} */