<!-- <main id="main">


  
    <div id="contact" class="contact-area mt-5">
        <div class="contact-inner area-padding">
            <div class="contact-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>FAQ</h2>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-3" *ngFor="let i of subjects" (click)="selectedSub=i"><a>{{i}}</a></div>
                </div>
                <div class="row" *ngFor="let item of Faq">
                    <div *ngIf="item.subject==selectedSub" class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1 box" >
                        <div class="row">
                            <a (click)="up(item.id)"><i class="bi bi-chevron-double-up"></i></a>
                        </div>
                        <div class="row up" (change)="getups(item.id)">
                            {{item.nbUps}}
                        </div>
                        <div class="row">
                            <a (click)="down(item.id)"><i class="bi bi-chevron-double-down"></i></a>
                        </div>

                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <mat-accordion class="mt-5">
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{item.question}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>{{item.answer}}</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>

</main> -->



<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
                <h2>FAQ</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="nav nav-pills faq-nav pb-4" id="faq-tabs" role="tablist" aria-orientation="vertical">
                <div class="col-8 mt-4 subject" *ngFor="let i of subjects" (click)="selectedSub=i">
                    <a> <i class="bi bi-arrow-right-square"></i>{{i}}</a>
                </div>

            </div>
        </div>
        <div class="col-lg-8">
            <div class="tab-content" id="faq-tab-content">
                <div class="row" *ngFor="let item of Faq">
                    <div *ngIf="item.subject==selectedSub" class="row">
                        <div class="col-md-1 col-sm-1 col-xs-1 box up-down">
                            <div class="row">
                                <a (click)="up(item.id)"><i class="bi bi-chevron-double-up"></i></a>
                            </div>
                            <div class="row up" (change)="getups(item.id)">
                                {{item.nbUps}}
                            </div>
                            <div class="row">
                                <a (click)="down(item.id)"><i class="bi bi-chevron-double-down"></i></a>
                            </div>

                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <mat-accordion class="mt-5" >
                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <span > {{item.question}}</span> 
                                          
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p>{{item.answer}}</p>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div *ngIf="show">

        <app-ads-banner></app-ads-banner>
    </div>
</div>