<main id="main" class="main">

    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <br>
                <h2 class="center" *ngIf="faq.id==0 || !faq.id" style="color: #0074d9; font-weight: bold; font-size: 30px; text-align: center;">Add New FAQ</h2>
                <h2 class="center" *ngIf="faq.id!=0 && faq.id"style="color: #0074d9; font-weight: bold; font-size: 30px; text-align: center;">Update FAQ</h2>
                <div class="card" style="border: 0.1px solid rgb(199, 195, 195); border-radius: 30px; padding : 40px; width: 70%; margin-left: auto; margin-right: auto;">
                <form  #addForm="ngForm" >
                    <div class="mb-3 ">
                        <label  class="form-label"style="color: #0074d9"> Sujet :  </label>
                        <select class="form-control mb-3" required name="type" [(ngModel)]="sub" required >
                           
                            <option [value]="0">Admission</option>
                            <option [value]="1">Les coûts </option>
                            <option [value]="2">Mobilité et bourse</option>
                           

                        </select>

                        <label  class="form-label"style="color: #0074d9">Question : </label>
                        <input type="text" class="form-control mb-3" name="question"  [(ngModel)]="faq.question"  required >

                        <label  class="form-label"style="color: #0074d9">Reponse :</label>
                        <input type="text" class="form-control mb-3"  name="answer"  [(ngModel)]="faq.answer" required>

                    </div>
                    <div style="display: flex; justify-content: center;">
                    <button class="btn btn-primary"  style="width: 35%; margin: 15px;" (click)="Create(addForm)" *ngIf="faq.id==0 || !faq.id">Save</button><br><br>
                    <button class="btn btn-primary"  style="width: 35%; margin: 15px;" (click)="Update(addForm)" *ngIf="faq.id!=0 && faq.id">Update</button><br><br>
                </div>
                    <a [routerLink]="['/admin/faq']"  style="width: 70px;" class="btn btn-primary">Back </a>
          
                </form>
            </div>
            </div>
        </div>
    </div>
    </main>

