<main id="main">
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <br>
                        <h2>Our Achievement</h2>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div *ngFor="let achievement of achievementList" class="col-md-4 col-sm-4 col-xs-12">
                    <div class="services-details">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../assets/esprit.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{achievement.name}}</h5>
                                <h5 class="card-title">{{achievement.archived}}</h5>




                                <div class="button-group">
                                    <a *ngIf="role=='ADMIN'" [routerLink]="['/admin/showAchievement', achievement.name]"
                                        class="btn btn-primary">Show</a>
                                    <div>
                                        
                                        <button
                                            (click)="archivedAchievement(achievement.name)">Valider</button>

                                        <a *ngIf="role=='ADMIN'"
                                            [routerLink]="['/admin/showAchievement', achievement.id]"
                                            class="btn btn-primary">Show</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End About Section -->
    </div>
</main><!-- End #main -->