

  
  <div class="social-footer" >
    <div class="social-comment"*ngFor="let comment of comments">
        <a href="" class="pull-left">
            <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
        </a>
        <div class="media-body">
            <a href="#">
                ghkjlk
            </a>
            Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
            <br>
            <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
            <small class="text-muted">12.06.2014</small>
        </div>
    </div>