       <!-- ======= Ads Section ======= -->
       <div id="ad" class="ads-area area-padding">
    
          <div class="row text-center">  
            <div class="col-5">       
              <img class="img" width="100%" [src]="Ads[item].content" alt="">
            </div> 
            <div class="col-2">
              
              
            </div>
            <div class="col-5">       
              <img class="img" width="100%" *ngIf="item == Ads.length-1"  [src]="Ads[0].content" alt="">
              <img class="img" width="100%" *ngIf="item < Ads.length-1"  [src]="Ads[item+1].content" alt="">
            </div> 
          </div>
      
      </div><!-- End ads Section -->
