/* You can add global styles to this file, and also import other style files */
.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

